body {
  width: 100%;
  height: 100%;
}

.guild-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
  border: solid;
}
.bot-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
  border: solid;
}
.guild {
  text-align: center;
  border: solid;
}
.guild-item {
  flex: 0 0 auto;
  margin: 8px;
}

.menu-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
  border: solid;
}
